#beers {
    border-radius: 0.25rem;
    background: #f9f9f9 !important;
}

section {
    padding: 20px 0;
}

#beers .card {
    border: none;
    background: #fff;
}

.card_beer {
    position: relative;
    -webkit-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.card_beer .card {
    min-height: 312px;
}

p.card-text,
h4.card-title {
    min-height: 96px !important;
}

.card-title {
    color: #007bff;
    cursor: pointer;
}

.card_beer .card .card-body img {
    width: 120px;
    height: 120 px;
    border-radius: 50%;
}