<section id="beers">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="">
                <div class="card_beer">
                    <div class="card">
                        <div class="card-body text-center">
                            <p>
                                <img class="img-fluid" src="https://dummyimage.com/300x300/000/fff" alt="">
                            </p>
                            <h4 class="card-title"></h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia officia ullam ut tempore? Provident dicta natus quis accusamus repellat, cumque animi placeat. Eligendi quidem aliquam excepturi ex, natus repellat fugit?
                            </p>
                            <div class="container-precio-idioma">
                                <p class="badge badge-info">
                                </p>
                                <p class="badge badge-info">
                                </p>
                            </div>
                            <a class="btn btn-block btn-primary" target="_blank">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>